################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheraNgMvc/bin
/CheraNgMvc/node_modules
/CheraNgMvc/obj/Debug
/packages

\.vs/CheraNgMvc/v14/\.suo
